node_modules
temp
.tmp
dist
dist-web
.sass-cache
app/lib
test/bower_components
package
app/common/translations.js
app/index.html
app/chrome.html
app/src/settings.js
plugins
platforms
www/
www
.DS_Store
